.fuelId {
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff; 
         box-shadow:
         0 0 6px 3px #fff,
         0 0 5px 6px #f0f,
         0 0 9px 9px #0ff;
  }